<style>

</style>


    
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

Body{

    
    background-color: #42f5d4;
    }

picture1 { <!--Logo-->
    }

h1 {
    font-size: auto;
    max-width: 70%
        }

p1 {
    font-size: 20px;
        }

div1 {
    text-align: center;
    }

div2 {
    font-size: 10px;
    margin-left: 10%;
    position: absolute;
    bottom: 0px;
}




#left, #right {
	background: url(https://3.bp.blogspot.com/-fRc-7TfpsXg/XE5W3S00EgI/AAAAAAAAGDA/YB8IoZQvCW42S4VyhvMyWvhlh7Er8nXyACHMYCw/s1600/desktop-background-space-architecture-modern-idea-%25E2%2580%25A2.jpg);
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10%;
		}
		#left { left: 0; }
		#right { right: 0; }
